.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 2rem;
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header .logo {
    max-height: 32px;
}

.title-group {
    text-align: center;
}

.title-group i {
    padding-right: 10px;
}