<mat-card>
    <mat-card-title appRed>Excluir Produto</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Name" [(ngModel)]="product.name" name="name" [disabled]="true">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Preço (R$)" [(ngModel)]="product.price" name="price" [disabled]="true">
        </mat-form-field>
    </form>
    <button mat-raised-button (click)="deleteProduct()" color="accent" class="delete">
        Excluir Produto
    </button>
    
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>